.form-group {
  margin-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

.navbar {
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 2em;

  .nav-item {
    padding-left: 1em;
    padding-right: 1em;
  }

  .navbar-text {
    text-align: right;
  }
}
